In [1]:
# Biblioteca
import sqlite3

In [2]:
# Criar um banco de dados
Conexao = sqlite3.connect('Banco_Dados')

In [3]:
# Apontar para o banco
Cursor = Conexao.cursor()

In [4]:
# Criando uma tabela
Cursor.execute(
    ''' 
        CREATE TABLE Minha_Tabela( Data text, Nome text, Idade real )
    '''
)

# Fazer um commit
Conexao.commit()

In [5]:
# Inserindo valores
Cursor.execute(
    '''   
        INSERT INTO Minha_Tabela VALUES ( "01/01/2021", "Emerson", "23" )
    '''
)

In [6]:
Cursor.execute(
    '''   
        INSERT INTO Minha_Tabela VALUES ( "05/01/2021", "Odemir", "30" )
    '''
)

In [7]:
# Importar Numeros Aleatorios 
import random

In [8]:
#random.randint(10, 20)

# Loop
for Loop in range(10):
    # Gerando numero aleatorio
    Numero = random.randint(10, 20)
    # Inserir informação na minha tabela
    Cursor.execute(
    f'''   
        INSERT INTO Minha_Tabela VALUES ( "05/01/2021", "Teste", {Numero} )
    '''
    )

In [9]:
# Query de consulta 
Consulta = Cursor.execute(
    '''   
       SELECT * FROM Minha_Tabela 
    '''
).fetchall()

print( Consulta )

[('01/01/2021', 'Emerson', 23.0), ('05/01/2021', 'Odemir', 30.0), ('05/01/2021', 'Odemir', 20.0), ('05/01/2021', 'Odemir', 12.0), ('05/01/2021', 'Odemir', 16.0), ('05/01/2021', 'Odemir', 18.0), ('05/01/2021', 'Odemir', 13.0), ('05/01/2021', 'Odemir', 19.0), ('05/01/2021', 'Odemir', 15.0), ('05/01/2021', 'Odemir', 11.0), ('05/01/2021', 'Odemir', 18.0), ('05/01/2021', 'Odemir', 10.0)]

In [10]:
# Query de consulta - Todas as colunas
Consulta = Cursor.execute(
    '''   
       SELECT Nome, Idade FROM Minha_Tabela 
    '''
).fetchall()

# Loop
for Linha in Consulta:
    print( Linha )

('Emerson', 23.0)
('Odemir', 30.0)
('Odemir', 20.0)
('Odemir', 12.0)
('Odemir', 16.0)
('Odemir', 18.0)
('Odemir', 13.0)
('Odemir', 19.0)
('Odemir', 15.0)
('Odemir', 11.0)
('Odemir', 18.0)
('Odemir', 10.0)

In [11]:
# Query de consulta - colunas especificas
Consulta = Cursor.execute(
    '''   
       SELECT Nome FROM Minha_Tabela 
    '''
).fetchall()

# Loop
for Linha in Consulta:
    print( Linha )

('Emerson',)
('Odemir',)
('Odemir',)
('Odemir',)
('Odemir',)
('Odemir',)
('Odemir',)
('Odemir',)
('Odemir',)
('Odemir',)
('Odemir',)
('Odemir',)

In [12]:
# Query usando o igual "="
Consulta = Cursor.execute(
    '''   
       SELECT * FROM Minha_Tabela 
       WHERE Nome = "Emerson"
    '''
).fetchall()

print( Consulta )

[('01/01/2021', 'Emerson', 23.0)]

In [13]:
# Query usando o maior que ">"
Consulta = Cursor.execute(
    '''   
       SELECT * FROM Minha_Tabela 
       WHERE Idade > 25
    '''
).fetchall()

print( Consulta )

[('05/01/2021', 'Odemir', 30.0)]

In [14]:
# Query usando o menor que "<"
Consulta = Cursor.execute(
    '''   
       SELECT * FROM Minha_Tabela 
       WHERE Idade < 25
    '''
).fetchall()

print( Consulta )

[('01/01/2021', 'Emerson', 23.0), ('05/01/2021', 'Odemir', 20.0), ('05/01/2021', 'Odemir', 12.0), ('05/01/2021', 'Odemir', 16.0), ('05/01/2021', 'Odemir', 18.0), ('05/01/2021', 'Odemir', 13.0), ('05/01/2021', 'Odemir', 19.0), ('05/01/2021', 'Odemir', 15.0), ('05/01/2021', 'Odemir', 11.0), ('05/01/2021', 'Odemir', 18.0), ('05/01/2021', 'Odemir', 10.0)]

In [15]:
# Query usando o menor ou igual que "<="
Consulta = Cursor.execute(
    '''   
       SELECT * FROM Minha_Tabela 
       WHERE Idade <= 15
    '''
).fetchall()

print( Consulta )

[('05/01/2021', 'Odemir', 12.0), ('05/01/2021', 'Odemir', 13.0), ('05/01/2021', 'Odemir', 15.0), ('05/01/2021', 'Odemir', 11.0), ('05/01/2021', 'Odemir', 10.0)]

In [16]:
# Query usando o diferente de "<>"
Consulta = Cursor.execute(
    '''   
       SELECT * FROM Minha_Tabela 
       WHERE Nome <> "Emerson"
    '''
).fetchall()

for Linha in Consulta:
    print( Linha )

('05/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Odemir', 20.0)
('05/01/2021', 'Odemir', 12.0)
('05/01/2021', 'Odemir', 16.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 13.0)
('05/01/2021', 'Odemir', 19.0)
('05/01/2021', 'Odemir', 15.0)
('05/01/2021', 'Odemir', 11.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 10.0)

In [17]:
# Query usando o BETWEEN
Consulta = Cursor.execute(
    '''   
       SELECT * FROM Minha_Tabela 
       WHERE Idade BETWEEN 12 AND 18
    '''
).fetchall()

for Linha in Consulta:
    print( Linha )

('05/01/2021', 'Odemir', 12.0)
('05/01/2021', 'Odemir', 16.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 13.0)
('05/01/2021', 'Odemir', 15.0)
('05/01/2021', 'Odemir', 18.0)

In [18]:
# Query usando o LIKE - procurando algo que comece com
Consulta = Cursor.execute(
    '''      
        SELECT * FROM Minha_Tabela
        WHERE Nome LIKE "E%"
    '''
).fetchall()

print( Consulta )

[('01/01/2021', 'Emerson', 23.0)]

In [19]:
# Query usando o LIKE - procurando algo que termine com 
Consulta =  Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
        WHERE Nome LIKE   "%r"    
    '''
).fetchall()

print( Consulta )

[('05/01/2021', 'Odemir', 30.0), ('05/01/2021', 'Odemir', 20.0), ('05/01/2021', 'Odemir', 12.0), ('05/01/2021', 'Odemir', 16.0), ('05/01/2021', 'Odemir', 18.0), ('05/01/2021', 'Odemir', 13.0), ('05/01/2021', 'Odemir', 19.0), ('05/01/2021', 'Odemir', 15.0), ('05/01/2021', 'Odemir', 11.0), ('05/01/2021', 'Odemir', 18.0), ('05/01/2021', 'Odemir', 10.0)]

In [20]:
# Query usando o LIKE - procurando algo que tenha o padrão
Consulta =  Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
        WHERE Nome LIKE   "%demir%"    
    '''
).fetchall()

print( Consulta )

[('05/01/2021', 'Odemir', 30.0), ('05/01/2021', 'Odemir', 20.0), ('05/01/2021', 'Odemir', 12.0), ('05/01/2021', 'Odemir', 16.0), ('05/01/2021', 'Odemir', 18.0), ('05/01/2021', 'Odemir', 13.0), ('05/01/2021', 'Odemir', 19.0), ('05/01/2021', 'Odemir', 15.0), ('05/01/2021', 'Odemir', 11.0), ('05/01/2021', 'Odemir', 18.0), ('05/01/2021', 'Odemir', 10.0)]

In [21]:
# Query procurando algo usando o IN 
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
        WHERE Idade IN (18, 20, 30) 
    '''
).fetchall()

print( Consulta )

[('05/01/2021', 'Odemir', 30.0), ('05/01/2021', 'Odemir', 20.0), ('05/01/2021', 'Odemir', 18.0), ('05/01/2021', 'Odemir', 18.0)]

In [22]:
# Query procurando algo usando o IN 
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
        WHERE Nome IN ("Odemir") 
    '''
).fetchall()

print( Consulta )

[('05/01/2021', 'Odemir', 30.0), ('05/01/2021', 'Odemir', 20.0), ('05/01/2021', 'Odemir', 12.0), ('05/01/2021', 'Odemir', 16.0), ('05/01/2021', 'Odemir', 18.0), ('05/01/2021', 'Odemir', 13.0), ('05/01/2021', 'Odemir', 19.0), ('05/01/2021', 'Odemir', 15.0), ('05/01/2021', 'Odemir', 11.0), ('05/01/2021', 'Odemir', 18.0), ('05/01/2021', 'Odemir', 10.0)]

In [23]:
# Query procurando algo usando o AND 
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
        WHERE Idade = 20 AND Nome = "Odemir"
    '''
).fetchall()

print( Consulta )

[('05/01/2021', 'Odemir', 20.0)]

In [24]:
# Query procurando algo usando o OR 
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
        WHERE Idade = 20 OR Nome = "Emerson"
    '''
).fetchall()

print( Consulta )

[('01/01/2021', 'Emerson', 23.0), ('05/01/2021', 'Odemir', 20.0)]

In [25]:
# Query procurando algo usando o NOT 
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
        WHERE NOT Nome = "Odemir"
    '''
).fetchall()

print( Consulta )

[('01/01/2021', 'Emerson', 23.0)]

In [26]:
# Query procurando algo usando o NOT 
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
        WHERE NOT Nome = "Odemir"
    '''
).fetchall()

print( Consulta )

[('01/01/2021', 'Emerson', 23.0)]

In [27]:
# Query procurando parametros AND OR NOT
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
        WHERE Nome = "Odemir" AND ( Idade > 12 OR Idade < 20 ) AND NOT Idade = 15
    '''
).fetchall()

for Linha in Consulta: 
    print( Linha )

('05/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Odemir', 20.0)
('05/01/2021', 'Odemir', 12.0)
('05/01/2021', 'Odemir', 16.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 13.0)
('05/01/2021', 'Odemir', 19.0)
('05/01/2021', 'Odemir', 11.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 10.0)

In [28]:
# Ordenando os valores
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
        ORDER BY Idade, Nome 
    '''
).fetchall()

for Linha in Consulta: 
    print( Linha )

('05/01/2021', 'Odemir', 10.0)
('05/01/2021', 'Odemir', 11.0)
('05/01/2021', 'Odemir', 12.0)
('05/01/2021', 'Odemir', 13.0)
('05/01/2021', 'Odemir', 15.0)
('05/01/2021', 'Odemir', 16.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 19.0)
('05/01/2021', 'Odemir', 20.0)
('01/01/2021', 'Emerson', 23.0)
('05/01/2021', 'Odemir', 30.0)

In [29]:
# Ordenando os valores
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
        ORDER BY Idade DESC
    '''
).fetchall()

for Linha in Consulta: 
    print( Linha )

('05/01/2021', 'Odemir', 30.0)
('01/01/2021', 'Emerson', 23.0)
('05/01/2021', 'Odemir', 20.0)
('05/01/2021', 'Odemir', 19.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 16.0)
('05/01/2021', 'Odemir', 15.0)
('05/01/2021', 'Odemir', 13.0)
('05/01/2021', 'Odemir', 12.0)
('05/01/2021', 'Odemir', 11.0)
('05/01/2021', 'Odemir', 10.0)

In [30]:
# Preenchenco com valores nulos

Cursor.execute( 
    '''
       INSERT INTO Minha_Tabela VALUES ( "ABC", null, 30)     
    '''
)

Cursor.execute( 
    '''
       INSERT INTO Minha_Tabela VALUES ( "ABC", null, null)     
    '''
)

In [31]:
# Verificando os valores nulos
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
        WHERE Nome IS NULL    
    '''
).fetchall()

for Linha in Consulta:
    print( Linha )

('ABC', None, 30.0)
('ABC', None, None)

In [32]:
# Verificando os valores não nulos
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
        WHERE Nome IS NOT NULL    
    '''
).fetchall()

for Linha in Consulta:
    print( Linha )

('01/01/2021', 'Emerson', 23.0)
('05/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Odemir', 20.0)
('05/01/2021', 'Odemir', 12.0)
('05/01/2021', 'Odemir', 16.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 13.0)
('05/01/2021', 'Odemir', 19.0)
('05/01/2021', 'Odemir', 15.0)
('05/01/2021', 'Odemir', 11.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 10.0)

In [33]:
# Verificando os valores da tabela
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela 
    '''
).fetchall()

for Linha in Consulta:
    print( Linha )

('01/01/2021', 'Emerson', 23.0)
('05/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Odemir', 20.0)
('05/01/2021', 'Odemir', 12.0)
('05/01/2021', 'Odemir', 16.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 13.0)
('05/01/2021', 'Odemir', 19.0)
('05/01/2021', 'Odemir', 15.0)
('05/01/2021', 'Odemir', 11.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 10.0)
('ABC', None, 30.0)
('ABC', None, None)

In [34]:
# Atualziando os valores da tabela com o UPDATE
Consulta = Cursor.execute(
    '''
        UPDATE Minha_Tabela 
        SET Nome = 'Preenchido'
        WHERE Nome IS NULL
    '''
).fetchall()

# Verificando os valores da tabela
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela 
    '''
).fetchall()

for Linha in Consulta:
    print( Linha )

('01/01/2021', 'Emerson', 23.0)
('05/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Odemir', 20.0)
('05/01/2021', 'Odemir', 12.0)
('05/01/2021', 'Odemir', 16.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 13.0)
('05/01/2021', 'Odemir', 19.0)
('05/01/2021', 'Odemir', 15.0)
('05/01/2021', 'Odemir', 11.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 10.0)
('ABC', 'Preenchido', 30.0)
('ABC', 'Preenchido', None)

In [35]:
# Atualziando os valores da tabela
Consulta = Cursor.execute(
    '''
        UPDATE Minha_Tabela 
        SET Idade = 29
        WHERE Idade IS NULL
    '''
).fetchall()

# Verificando os valores da tabela
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela 
    '''
).fetchall()

for Linha in Consulta:
    print( Linha )

('01/01/2021', 'Emerson', 23.0)
('05/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Odemir', 20.0)
('05/01/2021', 'Odemir', 12.0)
('05/01/2021', 'Odemir', 16.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 13.0)
('05/01/2021', 'Odemir', 19.0)
('05/01/2021', 'Odemir', 15.0)
('05/01/2021', 'Odemir', 11.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 10.0)
('ABC', 'Preenchido', 30.0)
('ABC', 'Preenchido', 29.0)

In [36]:
# Corrigindo os valores
Consulta = Cursor.execute(
    '''
        UPDATE Minha_Tabela
        SET Data = "07/01/2021", Nome = "João"
        WHERE Data = "ABC" AND Idade = 30
    '''
).fetchall()

# Verificando os valores atualizados
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('01/01/2021', 'Emerson', 23.0)
('05/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Odemir', 20.0)
('05/01/2021', 'Odemir', 12.0)
('05/01/2021', 'Odemir', 16.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 13.0)
('05/01/2021', 'Odemir', 19.0)
('05/01/2021', 'Odemir', 15.0)
('05/01/2021', 'Odemir', 11.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 10.0)
('07/01/2021', 'João', 30.0)
('ABC', 'Preenchido', 29.0)

In [37]:
# Corrigindo os valores
Consulta = Cursor.execute(
    '''
        UPDATE Minha_Tabela
        SET Data = "08/01/2021", Nome = "Maria", Idade = 18
        WHERE Data = "ABC" AND Idade = 29
    '''
).fetchall()

# Verificando os valores atualizados
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('01/01/2021', 'Emerson', 23.0)
('05/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Odemir', 20.0)
('05/01/2021', 'Odemir', 12.0)
('05/01/2021', 'Odemir', 16.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 13.0)
('05/01/2021', 'Odemir', 19.0)
('05/01/2021', 'Odemir', 15.0)
('05/01/2021', 'Odemir', 11.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 10.0)
('07/01/2021', 'João', 30.0)
('08/01/2021', 'Maria', 18.0)

In [38]:
# Corrigindo os valores
Consulta = Cursor.execute(
    '''
        UPDATE Minha_Tabela
        SET Data = "08/01/2021", Nome = "Pedro"
        WHERE Data = "05/01/2021" AND Idade = 12
    '''
).fetchall()

# Verificando os valores atualizados
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('01/01/2021', 'Emerson', 23.0)
('05/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Odemir', 20.0)
('08/01/2021', 'Pedro', 12.0)
('05/01/2021', 'Odemir', 16.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 13.0)
('05/01/2021', 'Odemir', 19.0)
('05/01/2021', 'Odemir', 15.0)
('05/01/2021', 'Odemir', 11.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 10.0)
('07/01/2021', 'João', 30.0)
('08/01/2021', 'Maria', 18.0)

In [39]:
# Usando o DELETE
Consulta = Cursor.execute(
    '''    
        DELETE FROM Minha_Tabela
        WHERE Nome = "Odemir" AND Idade = 10
    '''
).fetchall()

# Verificando os valores atualizados
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('01/01/2021', 'Emerson', 23.0)
('05/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Odemir', 20.0)
('08/01/2021', 'Pedro', 12.0)
('05/01/2021', 'Odemir', 16.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 13.0)
('05/01/2021', 'Odemir', 19.0)
('05/01/2021', 'Odemir', 15.0)
('05/01/2021', 'Odemir', 11.0)
('05/01/2021', 'Odemir', 18.0)
('07/01/2021', 'João', 30.0)
('08/01/2021', 'Maria', 18.0)

In [40]:
# Usando o DELETE
Consulta = Cursor.execute(
    '''    
        DELETE FROM Minha_Tabela
        WHERE Nome = "Odemir" AND Idade = 11
    '''
).fetchall()

# Verificando os valores atualizados
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('01/01/2021', 'Emerson', 23.0)
('05/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Odemir', 20.0)
('08/01/2021', 'Pedro', 12.0)
('05/01/2021', 'Odemir', 16.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 13.0)
('05/01/2021', 'Odemir', 19.0)
('05/01/2021', 'Odemir', 15.0)
('05/01/2021', 'Odemir', 18.0)
('07/01/2021', 'João', 30.0)
('08/01/2021', 'Maria', 18.0)

In [43]:
# Listando as tabelas
Consulta = Cursor.execute(
    '''  
        SELECT name FROM sqlite_master WHERE type='table';
    '''
).fetchall()

print( Consulta )

[('Minha_Tabela',)]

In [46]:
# Criando uma outra tabela
Consulta = Cursor.execute(
    '''  
        CREATE TABLE Minha_Tabela_Teste( Data text, Nome text, Idade real, Telefone text)
    '''
).fetchall()

OperationalError: table Minha_Tabela_Teste already exists

In [47]:
# Listando as tabelas
Consulta = Cursor.execute(
    '''  
        SELECT name FROM sqlite_master WHERE type='table';
    '''
).fetchall()

print( Consulta )

[('Minha_Tabela',), ('Minha_Tabela_Teste',)]

In [52]:
#random.randint(10, 20)

# Loop
for Loop in range(10):
    # Gerando numero aleatorio
    Numero = random.randint(10, 20)
    # Inserir informação na minha tabela
    Cursor.execute(
    f'''   
        INSERT INTO Minha_Tabela_Teste VALUES ( "05/01/2021", "Teste", {Numero}, "99987654321" )
    '''
    )

In [54]:
# Verificando os valores 
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela_Teste
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('05/01/2021', 'Teste', 13.0, '99987654321')
('05/01/2021', 'Teste', 14.0, '99987654321')
('05/01/2021', 'Teste', 11.0, '99987654321')
('05/01/2021', 'Teste', 11.0, '99987654321')
('05/01/2021', 'Teste', 17.0, '99987654321')
('05/01/2021', 'Teste', 15.0, '99987654321')
('05/01/2021', 'Teste', 17.0, '99987654321')
('05/01/2021', 'Teste', 16.0, '99987654321')
('05/01/2021', 'Teste', 18.0, '99987654321')
('05/01/2021', 'Teste', 16.0, '99987654321')

In [55]:
# Remove todos os registros de uma tabela
Consulta = Cursor.execute(
    '''    
        DELETE FROM Minha_Tabela_Teste
    '''
).fetchall()

In [57]:
# Verificando os valores atualizados
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela_Teste
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

In [51]:
# Listando as tabelas
Consulta = Cursor.execute(
    '''  
        SELECT name FROM sqlite_master WHERE type='table';
    '''
).fetchall()

print( Consulta )

[('Minha_Tabela',), ('Minha_Tabela_Teste',)]

In [62]:
# Verificando valores limitados

Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
        LIMIT 3
    '''
).fetchall()

# Mostrando o retorno
for Linha in Consulta:
    print( Linha )

('01/01/2021', 'Emerson', 23.0)
('05/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Odemir', 20.0)

In [64]:
# Função MIN

Consulta = Cursor.execute(
    '''
        SELECT MIN ( Idade ) FROM Minha_Tabela
    '''
).fetchall()


print( Consulta )

[(12.0,)]

In [65]:
# Função MAX

Consulta = Cursor.execute(
    '''
        SELECT MAX ( Idade ) FROM Minha_Tabela
    '''
).fetchall()

print( Consulta )

[(30.0,)]

In [66]:
# Função COUNT

Consulta = Cursor.execute(
    '''
        SELECT COUNT ( Idade ) FROM Minha_Tabela
    '''
).fetchall()

print( Consulta )

[(12,)]

In [67]:
# Função AVG

Consulta = Cursor.execute(
    '''
        SELECT AVG ( Idade ) FROM Minha_Tabela
    '''
).fetchall()

print( Consulta )

[(19.333333333333332,)]

In [68]:
# Função SUM

Consulta = Cursor.execute(
    '''
        SELECT SUM ( Idade ) FROM Minha_Tabela
    '''
).fetchall()

print( Consulta )

[(232.0,)]

In [69]:
# Comando ALIASES

Consulta = Cursor.execute(
    '''
        SELECT Idade AS Consulta_01 FROM Minha_Tabela

    '''
).fetchall()

print( Consulta )

[(23.0,), (30.0,), (20.0,), (12.0,), (16.0,), (18.0,), (13.0,), (19.0,), (15.0,), (18.0,), (30.0,), (18.0,)]

In [70]:
# Criando a tabela


# Id do vendedor e valor de venda 
Consulta = Cursor.execute(
    '''
        CREATE TABLE Tab_Vendas(id real, valor real)
    '''
)

Conexao.commit()

In [71]:
# Criando a tabela

# Dados cadastrais dos vendedores 
Consulta = Cursor.execute(
    '''
        CREATE TABLE Tab_Cadastro_Vendedor(id real, nome text)
    '''
)

Conexao.commit()

In [73]:
# Vendas dos vendedores
Cursor.execute( 'INSERT INTO Tab_Vendas VALUES (1, 100) ')
Cursor.execute( 'INSERT INTO Tab_Vendas VALUES (1, 200) ')
Cursor.execute( 'INSERT INTO Tab_Vendas VALUES (1, 150) ')

Cursor.execute( 'INSERT INTO Tab_Vendas VALUES (2, 50) ')
Cursor.execute( 'INSERT INTO Tab_Vendas VALUES (2, 200) ')
Cursor.execute( 'INSERT INTO Tab_Vendas VALUES (2, 900) ')

In [74]:
Cursor.execute( 'INSERT INTO Tab_Cadastro_Vendedor VALUES(1, "Odemir Depieri Jr")' )
Cursor.execute( 'INSERT INTO Tab_Cadastro_Vendedor VALUES(2, "Emerson Martins")' )

In [76]:
# Verificando
Consulta = Cursor.execute(
    '''    
        SELECT * FROM Tab_Vendas
    '''
).fetchall()

for Linha in Consulta:
    print( Linha )

(1.0, 100.0)
(1.0, 200.0)
(1.0, 150.0)
(2.0, 50.0)
(2.0, 200.0)
(2.0, 900.0)

In [77]:
# Verificando
Consulta = Cursor.execute(
    '''    
        SELECT * FROM Tab_Cadastro_Vendedor
    '''
).fetchall()

for Linha in Consulta:
    print( Linha )

(1.0, 'Odemir Depieri Jr')
(2.0, 'Emerson Martins')

In [78]:
# Verificando
Consulta = Cursor.execute(
    '''    
        SELECT * FROM Tab_Vendas
        INNER JOIN Tab_Cadastro_Vendedor
        ON Tab_Vendas.id = Tab_Cadastro_Vendedor.id
    '''
).fetchall()

for Linha in Consulta:
    print( Linha )

(1.0, 100.0, 1.0, 'Odemir Depieri Jr')
(1.0, 200.0, 1.0, 'Odemir Depieri Jr')
(1.0, 150.0, 1.0, 'Odemir Depieri Jr')
(2.0, 50.0, 2.0, 'Emerson Martins')
(2.0, 200.0, 2.0, 'Emerson Martins')
(2.0, 900.0, 2.0, 'Emerson Martins')

In [79]:
Cursor.execute( 'INSERT INTO Tab_Vendas VALUES (3, 9999) ')

In [80]:
# Verificando
Consulta = Cursor.execute(
    '''    
        SELECT * FROM Tab_Vendas
        INNER JOIN Tab_Cadastro_Vendedor
        ON Tab_Vendas.id = Tab_Cadastro_Vendedor.id
    '''
).fetchall()

for Linha in Consulta:
    print( Linha )

(1.0, 100.0, 1.0, 'Odemir Depieri Jr')
(1.0, 200.0, 1.0, 'Odemir Depieri Jr')
(1.0, 150.0, 1.0, 'Odemir Depieri Jr')
(2.0, 50.0, 2.0, 'Emerson Martins')
(2.0, 200.0, 2.0, 'Emerson Martins')
(2.0, 900.0, 2.0, 'Emerson Martins')

In [81]:
# Verificando
Consulta = Cursor.execute(
    '''    
        SELECT * FROM Tab_Vendas
        LEFT JOIN Tab_Cadastro_Vendedor
        ON Tab_Vendas.id = Tab_Cadastro_Vendedor.id
    '''
).fetchall()

for Linha in Consulta:
    print( Linha )

(1.0, 100.0, 1.0, 'Odemir Depieri Jr')
(1.0, 200.0, 1.0, 'Odemir Depieri Jr')
(1.0, 150.0, 1.0, 'Odemir Depieri Jr')
(2.0, 50.0, 2.0, 'Emerson Martins')
(2.0, 200.0, 2.0, 'Emerson Martins')
(2.0, 900.0, 2.0, 'Emerson Martins')
(3.0, 9999.0, None, None)

In [82]:
# Criar tabelas
Cursor.execute( ' CREATE TABLE Tabela_X (Id real, Nome text)' )
Conexao.commit()

Cursor.execute( ' CREATE TABLE Tabela_Y (Id real, Nome text)' )
Conexao.commit()

In [83]:
# Inserir valores
Cursor.execute('INSERT INTO Tabela_X VALUES( 1, "Emerson")')
Cursor.execute('INSERT INTO Tabela_X VALUES( 2, "Odemir")')
Cursor.execute('INSERT INTO Tabela_X VALUES( 3, "Maria")')

# Inserir valores
Cursor.execute('INSERT INTO Tabela_Y VALUES( 1, "Mario")')
Cursor.execute('INSERT INTO Tabela_Y VALUES( 2, "Luigi")')
Cursor.execute('INSERT INTO Tabela_Y VALUES( 3, "Peach")')

In [84]:
# Consulta
Consulta = Cursor.execute(
    '''
        SELECT * FROM Tabela_X
    '''
).fetchall()

print( Consulta )

[(1.0, 'Emerson'), (2.0, 'Odemir'), (3.0, 'Maria')]

In [85]:
# Consulta
Consulta = Cursor.execute(
    '''
        SELECT * FROM Tabela_Y
    '''
).fetchall()

print( Consulta )

[(1.0, 'Mario'), (2.0, 'Luigi'), (3.0, 'Peach')]

In [86]:
# Consulta
Consulta = Cursor.execute(
    '''
        SELECT * FROM Tabela_X
        UNION ALL
        SELECT * FROM Tabela_Y
    '''
).fetchall()


for Linha in Consulta: 
    print( Linha )

(1.0, 'Emerson')
(2.0, 'Odemir')
(3.0, 'Maria')
(1.0, 'Mario')
(2.0, 'Luigi')
(3.0, 'Peach')

In [87]:
# Consulta
Consulta = Cursor.execute(
    '''
        SELECT * FROM Minha_Tabela
    '''
).fetchall()


for Linha in Consulta: 
    print( Linha )

('01/01/2021', 'Emerson', 23.0)
('05/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Odemir', 20.0)
('08/01/2021', 'Pedro', 12.0)
('05/01/2021', 'Odemir', 16.0)
('05/01/2021', 'Odemir', 18.0)
('05/01/2021', 'Odemir', 13.0)
('05/01/2021', 'Odemir', 19.0)
('05/01/2021', 'Odemir', 15.0)
('05/01/2021', 'Odemir', 18.0)
('07/01/2021', 'João', 30.0)
('08/01/2021', 'Maria', 18.0)

In [93]:
# Consulta
Consulta = Cursor.execute(
    '''
        SELECT SUM (Idade)  FROM Minha_Tabela
        WHERE Nome = "Odemir"
        GROUP BY Nome
    '''
).fetchall()



print( Consulta )

[(149.0,)]

In [95]:
# Consulta
Consulta = Cursor.execute(
    '''
        SELECT COUNT (Idade)  FROM Minha_Tabela
        GROUP BY Nome
    '''
).fetchall()



print( Consulta )

[(1,), (1,), (1,), (8,), (1,)]

In [96]:
# Consulta
Consulta = Cursor.execute(
    '''
        SELECT MAX (Idade)  FROM Minha_Tabela
        GROUP BY Nome
    '''
).fetchall()



print( Consulta )

[(23.0,), (30.0,), (18.0,), (30.0,), (12.0,)]

In [97]:
# Consulta
Consulta = Cursor.execute(
    '''
        SELECT MIN (Idade)  FROM Minha_Tabela
        GROUP BY Nome
    '''
).fetchall()



print( Consulta )

[(23.0,), (30.0,), (18.0,), (13.0,), (12.0,)]

In [98]:
# Consulta
Consulta = Cursor.execute(
    '''
        SELECT AVG (Idade)  FROM Minha_Tabela
        GROUP BY Nome
    '''
).fetchall()

print( Consulta )

[(23.0,), (30.0,), (18.0,), (18.625,), (12.0,)]

In [100]:
# Consulta
Consulta = Cursor.execute(
    '''
        -- Selecionando a tabela x
        SELECT * FROM Minha_Tabela
        -- Filtrando os dados x
    '''
).fetchall()

print( Consulta )

[('01/01/2021', 'Emerson', 23.0), ('05/01/2021', 'Odemir', 30.0), ('05/01/2021', 'Odemir', 20.0), ('08/01/2021', 'Pedro', 12.0), ('05/01/2021', 'Odemir', 16.0), ('05/01/2021', 'Odemir', 18.0), ('05/01/2021', 'Odemir', 13.0), ('05/01/2021', 'Odemir', 19.0), ('05/01/2021', 'Odemir', 15.0), ('05/01/2021', 'Odemir', 18.0), ('07/01/2021', 'João', 30.0), ('08/01/2021', 'Maria', 18.0)]

In [107]:
Query = '''
            CREATE TABLE IF NOT EXISTS  Clientes (
                ID int NOT NULL,
                Nome varchar(255) NOT NULL,
                Sobrenome varchar(255),
                Idade int,
                PRIMARY KEY (ID)
            )
        '''

In [108]:
# Fazendo consulta

Consulta = Cursor.execute( Query )

# Salvar as alterações 
Conexao.commit()

In [109]:
# Inserindo valores
Cursor.execute("INSERT INTO Clientes VALUES (1, 'Odemir', 'Depieri',  30)")

# Fazendo consulta
Cursor.execute( "SELECT * FROM Clientes").fetchall()

[(1, 'Odemir', 'Depieri', 30)]

In [110]:
Cursor.execute("INSERT INTO Clientes VALUES (2, 'Ronisson', 'Lucas',  30)")

# Fazendo consulta
Cursor.execute( "SELECT * FROM Clientes").fetchall()

[(1, 'Odemir', 'Depieri', 30), (2, 'Ronisson', 'Lucas', 30)]

In [111]:
Query = '''
CREATE TABLE Servicos (
    ID int NOT NULL,
    Numero int NOT NULL,
    IDCliente int,
    PRIMARY KEY (ID),
    FOREIGN KEY (IDCliente) REFERENCES Persons(IDCliente)
)
'''

# Fazendo consulta
Consulta = Cursor.execute( Query )

# Salvar as alterações no banco de dados
Conexao.commit()

In [112]:
Cursor.execute("INSERT INTO Servicos VALUES (1, 1000, 1)")

In [113]:
Cursor.execute( "SELECT * FROM Servicos").fetchall()

[(1, 1000, 1)]

In [114]:
# Loja de Sapatos

# Gerando dados de vendas
# ID Vendedor, Valor de Bruto, Desconto, Valor Líquido

Query_01 = '''
CREATE TABLE Vendas (
    ID INT NOT NULL,
    ID_Vendedor INT NOT NULL,
    ValorVenda INT NOT NULL,
    Desconto INT NOT NULL,
    PRIMARY KEY (ID)
) 
'''

Query_02 = '''
CREATE TABLE Vendedor (
    ID_Vendedor INT NOT NULL,
    Nome varchar(255) NOT NULL,
    PRIMARY KEY (ID_Vendedor)
)
'''

Consulta = Cursor.execute( Query_01 )
Conexao.commit()

Consulta = Cursor.execute( Query_02 )
Conexao.commit()

In [115]:
Cursor.execute("INSERT INTO Vendedor VALUES (1, 'Odemir Depieri Jr')")
Cursor.execute("INSERT INTO Vendedor VALUES (2, 'Jose Almeida')")
Cursor.execute("INSERT INTO Vendedor VALUES (3, 'Maria Silva')")
Cursor.execute("INSERT INTO Vendedor VALUES (4, 'Julia Pereira')")

In [116]:
Query = '''
SELECT * FROM Vendedor
'''

# Fazendo consulta
Consulta = Cursor.execute( Query ).fetchall()

# Mostrando o retorno
print( Consulta )

[(1, 'Odemir Depieri Jr'), (2, 'Jose Almeida'), (3, 'Maria Silva'), (4, 'Julia Pereira')]

In [117]:
import random

for Input in range(100):

  Id = Input
  Vendedor = random.randint(1, 4)
  Valor_Venda = random.randint( 30, 599 )
  Desconto = round( random.random() * 100, 2 )

  #print( Id, Vendedor, Valor_Venda, Desconto )
  Cursor.execute( f"INSERT INTO Vendas VALUES ( {Id}, {Vendedor}, {Valor_Venda}, {Desconto} )" )

In [118]:
Query = '''
SELECT * FROM Vendas
'''

# Fazendo consulta
Consulta = Cursor.execute( Query ).fetchall()

# Mostrando o retorno
for Linha in Consulta[0:5]:
  print( Linha )

(0, 4, 361, 18.55)
(1, 1, 573, 91.82)
(2, 2, 61, 79.27)
(3, 2, 137, 75.66)
(4, 4, 401, 89.34)

In [119]:
Query = '''

-- Seleção das Tabelas e Join
SELECT Nome, SUM(Vendas.ValorVenda) as TopVendas, COUNT(Vendas.ValorVenda), AVG(Vendas.ValorVenda)
FROM Vendas
INNER JOIN Vendedor
ON Vendedor.ID_Vendedor = Vendas.ID_Vendedor

-- Filtro
WHERE Nome = 'Odemir Depieri Jr' or Nome = 'Maria Silva'

-- Agrupamento
GROUP BY Nome
ORDER BY TopVendas DESC
'''

# Fazendo consulta
Consulta = Cursor.execute( Query ).fetchall()

# Mostrando o retorno
for Linha in Consulta:
  print( Linha )

('Maria Silva', 9609, 32, 300.28125)
('Odemir Depieri Jr', 6063, 20, 303.15)